#root {
  max-width: 100%;
  margin: 0 auto;
  padding: 4rem 2rem;
}

header {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: baseline;
}

.version {
  font-size: 1rem;
  font-family: var(--font-body);
  font-weight: normal;
  color: var(--color-fg);
}

div {
  margin-bottom: 0.5rem;
}

.libraryDescription {
  color: var(--color-fg-2);
  font-style: normal;
  font-size: 1.5em;
}

.section {
  margin-top: 1rem;
}
.MuiPaper-root::before {
  background-color: transparent !important;
}
.MuiAccordionSummary-content {
  flex-flow: column nowrap;
}
.MuiAccordionSummary-expandIconWrapper {
  position: absolute;
  left: -10px;
}

.section > p {
  font-size: 1.5em;
}

pre code.hljs {
  padding: 2rem;
}
