#root {
  max-width: 100%;
  margin: 0 auto;
  padding: 4rem 2rem;
}

.App {
  display: grid;
  grid-template-areas:
    "header header"
    "library example";
  grid-template-rows: auto 1fr;
  grid-template-columns: 1fr 2fr;
  gap: 1rem;
}

header {
  grid-area: header;

  display: grid;
  justify-content: space-between;
  align-items: baseline;
  grid-auto-columns: auto;
  grid-template-areas:
    "title github"
    "description description";
}

header h1 {
  grid-area: title;
}
header .version {
  font-size: 1rem;
  font-family: var(--font-body);
  font-weight: normal;
  color: var(--color-fg);
}
header .github {
  grid-area: github;
}
header .libraryDescription {
  grid-area: description;
  color: var(--color-fg-2);
  font-style: normal;
  font-size: 1.5em;
}

div {
  margin-bottom: 0.5rem;
}

.example {
  text-align: center;
  margin: 0;
  margin-top: -100px;
  min-height: 400px;
  grid-area: example;
}
.example .Example {
  /* position: sticky; */
  /* z-index: 1; */
  /* top: 0; */
  padding: 3rem 0 2rem 0;
  margin: 0;

  overflow-y: auto;
}

.library {
  grid-area: library;
  max-height: 80vh;

  display: grid;
  grid-template-rows: auto 1fr;
}
.library .functionList {
  overflow-y: auto;
  overflow-x: hidden;
}

.library .section {
  margin-bottom: 1rem;
}

/* .section-summary {
} */

.section-summary > p {
  font-size: 1.5em;
}

/* .section-list {
} */

.MuiPaper-root::before {
  background-color: transparent !important;
}
.MuiPaper-root {
  background: transparent !important;
  box-shadow: none !important;
  color: inherit !important;
}
.MuiAccordionSummary-content {
  flex-flow: column nowrap;
}
.MuiAccordionSummary-expandIconWrapper {
  position: absolute;
  left: -10px;
}

pre code.hljs {
  padding: 2rem;
}

.copyright {
  font-size: small;
  opacity: 0.5;
}
