:root {
  --font-headline: "Yatra One", Inter, Helvetica, arial, sans-serif;
  --font-body: "Noto Serif", georgia, serif;
  --font-code: Courier, monospace;

  /* dark mode */
  --color-bg: #122d2d;
  --color-bg-2: #224444;
  --color-fg: #eeffff;
  --color-fg-2: #9eead8;
  --color-fg-selected: #ffe0ee;
  --color-primary: #ff9900;
  --color-secondary: #ffa1ac;
  --color-alt: #9944dd;
  --color-alt-trans: #9944dd33;
  --color-alt-2: #5f3b7b;
}
@media (prefers-color-scheme: light) {
  :root {
    --color-bg: #eeffff;
    --color-bg-2: #d3ebeb;
    --color-fg: #184c4c;
    --color-fg-2: #666600;
    --color-fg-selected: #220033;
    --color-primary: #ff6600;
    --color-secondary: #ff9900;
    --color-alt: #eeccff;
    --color-alt-trans: #eeccff33;
    --color-alt-2: #9944dd;
  }
}
:root {
  font-family: var(--font-body);
  font-size: 16px;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--color-fg);
  background-color: var(--color-bg);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  margin: 0 auto;
  min-width: 464px;
  min-height: 100vh;
  max-width: 1200px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-primary);
  font-family: var(--font-headline);
  margin: 0;
}
p {
  margin-top: 0;
}

a {
  font-weight: 500;
  color: var(--color-alt);
  text-decoration: inherit;
}
a:hover {
  color: var(--color-alt-2);
}

code {
  font-family: var(--font-code);
  font-style: normal;
}

h1 {
  font-size: 6em;
  text-transform: lowercase;
}
h2 {
  font-size: 4em;
}
h3 {
  font-size: 2em;
}

label {
  display: block;
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.MuiRadio-root,
.MuiSlider-root {
  color: var(--color-secondary) !important;
}
.MuiButtonBase-root {
  color: var(--color-primary) !important;
  border-color: var(--color-primary) !important;
  min-height: 0;
  padding: 1px 4px !important;
  font-size: 0.8rem;
  text-transform: none !important;
  font-family: var(--font-code) !important;
}

.MuiButtonBase-root.Mui-selected {
  color: var(--color-bg) !important;
  background-color: var(--color-primary) !important;
}
